.board {
  display: grid;
  background-color: #fff;
  grid-template-columns:  repeat(8, 1fr) ;
  grid-template-rows:  repeat(8, 1fr) ;
}

.square{
  font-size: 3vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.square.black{
  background-color: green;
  color: #fff;
}

.square img {
  width: 85%;
  z-index: 999;
}

.square .label{
  position: absolute;
  bottom: 0.1rem;
  left: 0.25rem;
  font-size: 2vmin;
}

.square .label.top{
  top: 0.1rem;
 
}